
body{
    background-color: rgb(253, 253, 248);
}
a {
    all: unset; 
    display: inline; 
    cursor: pointer; 
}

.Logo{
    font-size:4vw;

}
.footer{
    margin-top: 13vw;
    background-color: black;
    display: flex;
    justify-content: center;
    height:30vw;
    
}
.background{

    margin-top: 1vw;
    background-color: whitesmoke;
    border:lightgray;
   margin-left: 2.5%;
    text-align: center;
    height:36vw;
    width:95%;
    z-index: 1;
   
    overflow: hidden;
    
}
.background2{

    padding:2vw;
    margin-top:3vw;
    background-color: whitesmoke;
    border:lightgray;
   margin-left: 0.5%;
    text-align: center;
    height:36vw;
    width:99%;
    z-index: 1;
   display: flex;
   
   justify-content: space-around;
 ;
    overflow: scroll;
   
    flex-wrap: wrap;
}
.img{
    
    background-position: center;
    background-size: cover;
    display: flex;
  
    width: 30vw;
    height:30vw;
    background-image: url("https://t4.ftcdn.net/jpg/03/90/91/49/240_F_390914943_oBX7iQsgEFmhtUJkrLDybkScca2zTXL8.jpg");
    z-index: 1
    ;position: relative;

    
   
}
.img2{
    background-position: center;
    background-size: cover;
    display: flex;
   
    width: 37vw;
    height:22vw;
    background-image: url("https://t4.ftcdn.net/jpg/03/90/91/49/240_F_390914943_oBX7iQsgEFmhtUJkrLDybkScca2zTXL8.jpg");
  
}
.main{
    
    
    margin-left: 20vw;
    width:5vw; 
    justify-content: center;
    display: flex;
}
.containers{
    
    display: flex;
    justify-items: center;
    
   height:35vw;

}
#container2{
    display: flex;
    
  width:100%;
    list-style: none;
    

 justify-content: start;
 align-items: center;
 
   gap:40vw;
   height: 100%;
   width:100%;
   transition: transform 1.0s ease;
}
#containers {
  
      
   display: flex;
    box-sizing: border-box;
    margin-bottom: 20px; 
    height:80%;
    }

#container {
    display: flex;
 z-index: 1;
    list-style-type: none;
    gap: 20px;
 justify-content:start;
    transition: transform 0.5s ease;}
    #container3 {
        display: flex;
     z-index: 1;
        list-style-type: none;
        gap: 20px;
     justify-content:start;
        transition: transform 0.5s ease;}
.container {
    display: flex;
     justify-content: start;
    list-style-type: none;
    gap: 4px;
    margin-left: 0;
   width:97vw;
    transition: transform 0.5s ease;
   background-color: rgba(87, 120, 114, 0.3);
   height:4vw;
}
.container0 {
    height:100%;
    width:100%;
    gap:0.5vw;
    display: flex;
    list-style-type: none;
    ;
    margin-left: 0;
 
    transition: transform 0.5s ease;

}
.container3 {
    display: flex;
     justify-content: start;
    list-style-type: none;
    gap: 40vw;
    margin-left: 0;
    margin-top:3vw;
    transition: transform 0.5s ease;

}
.smallcontainer{
    display:flex;
    justify-items: start;
    width:100%;
}
.Ccontainer{
   
    display: flex;
    justify-content: start;
   list-style-type: none;
   gap: 4px;
   margin-left: 0;
  
   transition: transform 0.5s ease;
   width:100%;
   height:100%;
   
    
}
.longcontainer{
    position: relative;
    width: 95%;
    max-width: 1400px;
   margin-left: 2%;
    overflow: hidden;
    gap:30px;
    justify-content: center;
}
h1{
    margin-top: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
hr{
    width:100%;
    
    background-color: lightgray;
    border: 0capn;
}

.header{
   width: 100%;
    height:50vw; 
 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;}
.search{

}
.container1{
    
    position: relative;
    
    z-index: 4;

}   
.item1 {     
    padding: 10px;
    position: relative;
    
   z-index: 1;
    color: white;
    font-size: 2.5vw;
    
}
.convert{
    margin-left: 40vw;
    display: flex;
    justify-content: end;
    width: 20px;
    line-height: normal;
    align-items: center;
    font-size: xx-large;
}
.slogan{
    display: flex;
    padding-left: 3px;
    justify-content: start;
    margin-left: 1vw;
  
  max-height:10vw;
    min-width: 40vw;
    line-height: normal;
    align-items: center;
   font-size: 3vw;
}


.item2 {
    
    
    font-size:1.7vw;
    margin-top:1.2vw;
    margin-left:2vw;
    color: rgb(252, 254, 250);
  font-variant: small-caps;
  
}
.item2:hover{
 transform: scale(1.05);
 
}
.item2:active{
    transform: scale(0.95);
}
.middle{

    margin-top: 0px;
    margin-left:60px;
    display: flex;
    justify-content: start;
    color: aquamarine;
    text-align: center;
    line-height: 35px;
    padding-top: 7px;
    font-size: 20px;
    width: 150px;;
    height:50px;

}
.middle2{
    
    display: flex;
    justify-content: start;
    margin-top:25vw;
    width: 100%;
    height:50px;

}

.button2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 2;
    border-radius: 50%;}
.button2.left {
    left: 20px;
}

.button2.right {
    right: 20px;}
.longsection{
    margin-top: 10px; z-index: 1;   height:20vw;}

.button{
    margin-top:5vw;
    display: flex;
    ;justify-content: center;
    height:2.5vw;
    width:2.5vw;
    font-size: 2vw;
    margin-left: 4vw;
    z-index: 2;
}
.button_{
    margin-top:0.1vw;
    display: flex;
    ;justify-content: center;
    border:0px;
    font-size: 2vw;
    margin-left: 3vw;
    z-index: 2;
}
.bigimage{
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/format:webp/1*uNCVd_VqFOcdxhsL71cT5Q.jpeg");
    background-size:cover;
    background-position: center;
    width:30vw;
    height:90%;
    margin-top:3%;
    margin-left:1vw;



}
.smallimg{
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/format:webp/1*uNCVd_VqFOcdxhsL71cT5Q.jpeg");
    background-size:cover;
    background-position: center;
    width:10vw;
    height:43%;
    margin-top:3%;
    margin-left:1vw;
}
.custom-button {
   
    
    cursor: pointer; 
    transition: all 0.3s ease; 
}
.custom-button:hover {
    
    transform: scale(1.05); 
}
.custom-button:active {
    background-color: #3e8e41; 
    transform: scale(0.95); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
p{

}

h1{
    margin-bottom: 0vw;
    font-size: 3vw;
    margin-top:7vw;
}
.break{
    height: 10px;
}